<h3> test all lookups</h3>
<button id="allbutton">yooo</button>
<div id="allResults">
	
<!--  <div id="lookup_results">
		<div id="results_img"><%= image_tag("man.png", :id => "headshot", :alt => "picture placeholder") %></div>
		<div id="results_name"> </div>
		<div id="results_party"> </div>
		<div id="results_email"> </div>
		<div id="results_tn"> </div>
		<div id="results_chamber"> </div>
		<div id="results_district"> </div>
		<div id="results_term"> </div>
		<div id="results_work"> </div>
		<pre id="results_address"> </pre>
		<div id="results_phone"> </div>
		
		<div id="results_work-b"> </div>
		<pre id="results_address-b"> </pre>
		<div id="results_phone-b"> </div>
		
			
	</div>		
	
	
-->	
	
	
	
	
	
</div>
