<div class="lookup_wrapper">	
	
	
	
	<div id="lookup_form">
		
		
		<div id="lookup_stepone"><%= render :partial => 'shared/stepone' %></div>
		<div><input type="text" placeholder="Address (optional)" id="lookup_address" /></div>
		<div id="smoosh">
			<input type="text" placeholder="City (optional)" id="lookup_city" />
			<input type="text" placeholder="Zip (optional)" id="lookup_zip" />
		</div>
		<button id="lookup_button">FIND</button>
		<pre id="lookup_errors"></pre>
		
		
		
	</div>
	
	<div id="lookup_results">
		<div id="results_img"><%= image_tag("man.png", :id => "headshot", :alt => "picture placeholder") %></div>
		<div id="results_name"> </div>
		<div id="results_party"> </div>
		<div id="results_email"> </div>
		
		<div id="results_chamber"> </div>
		<div id="results_district"> </div>
		
			
	</div>		
	
	<div id="lookup_results2">
		<div id="results_img2"><%= image_tag("man.png", :id => "headshot2", :alt => "picture placeholder") %></div>
		<div id="results_name2"> </div>
		<div id="results_party2"> </div>
		<div id="results_email2"> </div>
		
		<div id="results_chamber2"> </div>
		<div id="results_district2"> </div>
				
			
	</div>		
		






	<aside id="lookup_aside">
		<div id="lookup_review">
		
		
		<div id="lookup_steptwo"><%= render :partial => 'shared/stepone' %></div>
		
		<button id="review_button">REVIEW</button>
		
		
		
		
	</div>
	
	</aside>








</div>

