<div class="lookup_wrapper">	
	
	
	
	<div id="lookup_form">
		
		
		<div><input type="text" placeholder="Address (optional)" id="lookup_address" /></div>
		<div id="smoosh">
			<input type="text" placeholder="City (optional)" id="lookup_city" />
			<input type="text" placeholder="Zip (optional)" id="lookup_zip" />
		</div>
		<div id="smoosh2">
			<div id="lookup_stepone"><%= render :partial => 'shared/stepone' %></div>
			<button id="lookup_button">Find</button>
		</div>
		<pre id="lookup_errors"></pre>
		
		
		
	</div>
	
	<div id="lookup_results">
		<div id="results_img"><%= image_tag("man.png", :id => "headshot", :alt => "picture placeholder") %></div>
		<div id="results_name"> </div>
		<div id="results_party"> </div>
		<div id="results_email"> </div>
		<div id="results_tn"> </div>
		<div id="results_chamber"> </div>
		<div id="results_district"> </div>
		<div id="results_term"> </div>
		<div id="results_work"> </div>
		<pre id="results_address"> </pre>
		<div id="results_phone"> </div>
		
		<div id="results_work-b"> </div>
		<pre id="results_address-b"> </pre>
		<div id="results_phone-b"> </div>
		
			
	</div>		
	
	<div id="lookup_results2">
		<div id="results_img2"><%= image_tag("man.png", :id => "headshot2", :alt => "picture placeholder") %></div>
		<div id="results_name2"> </div>
		<div id="results_party2"> </div>
		<div id="results_email2"> </div>
		<div id="results_tn2"> </div>
		<div id="results_chamber2"> </div>
		<div id="results_district2"> </div>
		<div id="results_term2"> </div>
		<div id="results_work2"> </div>
		<pre id="results_address2"> </pre>
		<div id="results_phone2"> </div>
		
		<div id="results_work2-b"> </div>
		<pre id="results_address2-b"> </pre>
		<div id="results_phone2-b"> </div>
		
			
	</div>		
		






	<aside id="lookup_aside">
		side shiiiit
	
	</aside>








</div>

