<h1> LOOKUP TOOL </h1>
<div id="lookup_container">
	<input type="text" placeholder="Enter an Address" id="lookup_address" />
    <button id="lookup_button">Find me a poster</button>
</div>

<div id="lookup_results">
	
	look up results div
</div>
