<div class="lookup_wrapper">	
	
	<div id="lookup_form">
		<h1> Florida rep lookup and contact tool </h1>
		<input type="text" placeholder="Address (optional)" id="lookup_address" />
		<input type="text" placeholder="City (optional)" id="lookup_city" />
		<input type="text" placeholder="Zip (optional)" id="lookup_zip" />
		<button id="lookup_button">Find</button>
		<div id="lookup_errors"></div>
		
		
		
	</div>
	
	<div id="lookup_results">
		<div id="results_img"><img id="headshot" src="www.yahoo.com"></img></div>
		<div id="results_name"> </div>
		<div id="results_party"> </div>
		<div id="results_email"> </div>
		<div id="results_tn"> </div>
		<div id="results_chamber"> </div>
		<div id="results_district"> </div>
		<div id="results_term"> </div>
		<div id="results_work"> </div>
		<pre id="results_address"> </pre>
		<div id="results_phone"> </div>
		
		<div id="results_work-b"> </div>
		<pre id="results_address-b"> </pre>
		<div id="results_phone-b"> </div>
		
		
		
		<div id="results_button"><button id="send_letter_button"></button></div>
	
	</div>		
	
	<div id="lookup_results2">
		<div id="results_img2"><img id="headshot2" src="www.yahoo.com"></img></div>
		<div id="results_name2"> </div>
		<div id="results_party2"> </div>
		<div id="results_email2"> </div>
		<div id="results_tn2"> </div>
		<div id="results_chamber2"> </div>
		<div id="results_district2"> </div>
		<div id="results_term2"> </div>
		<div id="results_work2"> </div>
		<pre id="results_address2"> </pre>
		<div id="results_phone2"> </div>
		
		<div id="results_work2-b"> </div>
		<pre id="results_address2-b"> </pre>
		<div id="results_phone2-b"> </div>
		
		<div id="results_button2"><button id="send_letter_button2"></button></div>
	
	</div>		
		






	<aside id="lookup_aside">
		side shiiiit
	
	</aside>








</div>

