<div class="skinny_bar">
	
	<div class="skinny_bar_content">
	
	
		<span class="tag_line"><%= render :partial => 'shared/thelogo' %></span>
		
		<span class="nav_container">			
			<ul>
				<li>
					
					<%= link_to 'Home', root_path %>
					
				</li>
				<li>
					<%= link_to 'News', articles_path %>
				</li>
			</ul>
		</span>
		
</div>	
</div>			
				
				
