<nav>

	<div class="upper_bar">
		
		
				
			
		<ul>
			<li>
				
				<%= link_to 'Main', articles_path %>
				
			</li>
			<li>
				<a href="#">Local News</a>
			</li>
			<li>
				<a href="#">Join</a>
			</li>
			<li>
				<a href="#">Store</a>
			</li>
			<li>
				<a href="#">Donate</a>
			</li>
			<li>
				
				<div id="ghost_logo"><%= render :partial => 'shared/lillogo' %></div>
				
				
			</li>
			
		</ul>
		
		
	</div>
		
	<div class="lower_bar">
	
		<div id= 'logoDiv'> 
		
			<div class="logo"><%= render :partial => 'shared/thelogo' %></div>
			
			
		</div>
	
	</div>
		
</nav>