
<html>
  <head>
    <title>Opentok Quick Start</title>
    <script src='http://static.opentok.com/v2/js/opentok.min.js'></script>
    <script type="text/javascript">
$(document).ready(function() {	    
    
    var publisher;
    var streams = [];
    var token = "<%= @token %>";
	var session = "<%= @session %>"
    
    function connect() {
	  if (OT.checkSystemRequirements() == 0) {
        console.log("The client does not support WebRTC.");
      } else {
        console.log("The client does support WebRTC.");
        
        //session = OT.initSession("45266732", ".....%= @session_id %>");
		 
		session.on({ 
		  
		  streamCreated: function (event){
		  	console.log("new stream created")
		  	event.streams.forEach(function(stream){
		  		if(stream.connection.connectionId != session.connection.connectionId) {
		  			session.subscribe(stream);
		  		}
		  	})
		  	//subscriber = session.subscribe(event.stream, vid2);
		  	//session.connect(token);
		  },
		  
		  
		  connectionCreated: function (event) {
		    var stream = event.stream;
            console.log("session on NEW connection created");
		  },
		      
		
		  connectionDestroyed: function (event) {
		    
		    console.log("session on, connection distroyed");
		  },
		       
	    
	      sessionDisconnected: function sessionDisconnectHandler(event) {
	        // The event is defined by the SessionDisconnectEvent class
	        console.log("Disconnected from the session.");
	        document.getElementById('disconnectBtn').style.display = 'none';
	        if (event.reason == "networkDisconnected") {
	          alert("Your network connection terminated.")
	        }
		  }
        });
      
      
        // Replace token with your own value:
        session.connect(token, function(error) {
          if (error) {
            OT.log("Unable to connect: ", error.message);
          } else {
            document.getElementById('disconnectBtn').style.display = 'block';
            console.log("session.connect, Connected to the session.");
            
            
            
    	
    
            
                      
		  }
        });
	  }
    }


  
  
  
  
  
  
  
  
  function publish(){
        
        publisher = OT.initPublisher();
        session.publish(publisher);
        console.log("You can publish an audio-video stream.");
        
     
        publisher.on({
          streamCreated: function (event) {
            
            
            console.log("Publisher started streaming.");
          },
        
          streamDestroyed: function (event) {
            console.log("Publisher stopped streaming. Reason: " + event.reason);
            
          }
        });
};
  function disconnect() {
    console.log("publisher dissstroyed")
    publisher.destroy();
    
  };
		
		
		
  $('#disconnectBtn').click( function () { 
  	disconnect();
  });
      
  $('#start').click( function () {
    publish();
  });
  
  connect();
});
    </script>
  </head>
  <body>
    <h1>H1 tag</h1>
    <div id="vid1"></div>
    <div id="vid2"></div>
    <button id="start">start</button>
    <button id="disconnectBtn">disconnect</button>
  </body>
</html>