/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$green_light: tint(#E6F5EB, 95%)
$green_dark: tint(#19A347, 14%)
$green_base: #009933
$grays: #CACABC


@import 'bourbon'
@import 'normalize'
@import "grid-settings"
@import 'base/base'
@import 'neat/neat'
@import 'engage'
@import 'articles'
@import 'lookups'
@import 'comments'
@import 'footer'
@import 'chats'
@import 'feedbacks'
@import 'progress'
@import 'devise'



h1 h2 h3
  
  
  text-shadow: 2px 2px 5px #888888
h1
  //font-weight: bold
  //font-size: 2.25em  
h2
  //font-size: 1.1em
  clear:both


