// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_wrapper
	+outer-container
	margin-top: 20px

	#index_container
		+span_columns(9)
		
		overflow: hidden
		


		.index_stick
			+clearfix
			width: 100%
			padding: 10px
			overflow: none
			
			margin-top: 2px
			background: tint($green_base, 98%)
			white-space: nowrap
			
			.index_thumb
				
				
				display: inline-block
				
				
			.index_subject
				
				padding: 0 5px 0 5px
				word-wrap: break-word
				display: inline-block
				vertical-align: top
				width: 95%

				.subject_line
					padding: 3px 20px 3px 10px
					word-wrap: break-word
					white-space: normal
					width: 95%
				.index_first_line
					padding: 3px 20px 3px 10px
					word-wrap: break-word
					white-space: normal
					width: 95%
				.bottom_info_bar
					
					width: 95%
					font-size: .6em
					padding: 0 5px 0 5px
					word-wrap: break-word
					vertical-align: text-bottom



.show_page_wrapper
	+outer-container

	.show_page_content
		
		+span-columns(9)
		padding-left: 25px
		
		background: tint($green_base, 98%)
		.show_info_bar
			
		.show_image img
		.show_words
			
			margin-top: 15px
	.show_aside
		+span-columns(3)
		background: gray
		margin-top: 10px


.social-share-button