// Place all the styles related to the engage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







p
  font-family: "Ubuntu"
 
    
  
h2
  font-family: "Ubuntu"
  font-weight: 700  



.skinny_bar
  width: 100%
  background: #141311
   
  .skinny_bar_content
    +outer-container
    
    
   
    
    
    .tag_line
      background: #141311
      display: inline-block
      width: 40%
      margin-left: 5px
         




#sticky-anchor.perm_bar
  width: 100%
  positon: relative
  background: #141311
  
  
  
  .nav  
    
    background: #141311
    +outer-container
    +clearfix
    
    
    .ellogo
      height: 30px
      float: left
      margin-left: 5px    
    
  
    ul
      
      float: right
    
      li
        display: inline-block
        line-height: 30px
        
        
#sticky-anchor.perm_bar.stick
  position: fixed
  width: 100%
  top: 0px
  
  .nav  
    
    background: #141311
    +outer-container
    +clearfix
    
    .ellogo
      width: 128px     
      float: left
      margin-left: 5px

    
  
    ul
      
      float: right
    
      li
        display: inline-block


    
               
          

#main-stuff.pad
  margin-top: 24px



.featured_wrapper
  background: pink
  +outer-container
  clear: both
  
  
  
  .featured_main
    background: red
    +span-columns(8)
    
    
    .featured_content
      +clearfix
      
      .featured_pic
        float: left
        padding-right: 20px
        padding-bottom: 0px
      .readmore-js-section
        overflow: visible 
      
      
      
      
        
    
    .side
      +span-columns(4)
      
    .signup
      background: green
      +fill-parent
    
    .featured_main
      background: blue
      
      
      


 
        