// Place all the styles related to the engage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 
h2
  font-family: "Ubuntu"
  font-weight: 700  


.skinny_bar
  width: 100%
  
  background: #141311
   
  .skinny_bar_content
    +outer-container
    
    .tag_line
      background: #141311
      display: inline-block
      width: 40%
      margin-left: 5px
/*-----------------------------------------------end of upper nav bar ------------------*/  






       
#sticky-anchor.perm_bar
  width: 100%
  positon: relative
  background: #141311
  
  .nav  
    
    background: #141311
    +outer-container
    +clearfix
    
    .ellogo
      height: 30px
      float: left
      margin-left: 5px 
         
    ul
      
      float: right
      
      li
        display: inline-block
        padding: 0px .75em 0px .75em
        
        a
          font-size: .8em
/*-----------------------------------------------end of lower nav bar ------------------*/    
        
       
#sticky-anchor.perm_bar.stick
  position: fixed
  top: 0px
  
  .nav  
    
    background: #141311
    +outer-container
    +clearfix

    .ellogo
      width: 128px     
      float: left
      margin-left: 5px
      
    ul
      float: right
      line-height: 30px
      
      li
        display: inline-block
/*-----------------------------------------------end of lower nav bar sticky ------------------*/      
               
          



#main-stuff
  padding-top: 20px
  
#main-stuff.pad
  padding-top: 50px  
/*-----------------------------------------------js compensating sticky nav bar ------------------*/ 






.featured_wrapper
  +outer-container
  clear: both
  
  .featured_main
    +span-columns(8)
    padding-left: 10px
    
    .featured_content
      +clearfix
    
      .featured_pic
        float: left
        padding-right: 20px
        padding-bottom: 0px
        
      .readmore-js-section
        overflow: visible 
        
    .the_rest
      padding-top: 20px
      +clearfix
      
      .block
        +span-columns(2.66666 of 8)
        +omega(3n) 
        margin-bottom: 15px
        background: pink
   
        .mini_image
          background: pink
      
      
          img
            width: 100%
            margin: 0px auto
        
        .mini_info
          background: pink
          font-size: 10px
          overflow: hidden
          float: right
          padding: 0px 10px
      
        .mini_text
          word-wrap: break-word
          background: pink
          padding: 0px 10px 5px 10px
          font-size: 1.5em
          clear: both
          height: 138px
          overflow: hidden

  .side
    +span-columns(4)
      
    .signup
      background: green
      padding: 60px 20px 20px 20px
      +background(linear-gradient(black, green) left repeat)
      display: inline-block
      width: 340px
      +border-top-radius(5px)
      +border-right-radius(5px)
      +border-bottom-radius(5px)
      +border-left-radius(5px)
        




table
  padding-top: 40px

#engage_zip
  
  width: 80px
  float: left
  
input.subbutton
  float: right
  height: 36.9px
  
  

  
  
.done
  background: pink
  opacity: 0.5
  display: inline-block
  width: 340px
  +border-top-radius(5px)
  +border-right-radius(5px)
  +border-bottom-radius(5px)
  +border-left-radius(5px)
  z-index: -1

form.search-bar
  /////////////////////////////////////////////////////////////////////////////////// 
  $base-border-color: gainsboro !default
  $base-border-radius: 3px !default
  $base-line-height: 1.5em !default
  $action-color: #477DCA !default
  $dark-gray: #333 !default
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color
  $search-bar-border: 1px solid $search-bar-border-color
  $search-bar-background: lighten($search-bar-border-color, 10%)

  position: relative
  text-align:center
  padding-bottom: 6px
  input[type=search] 
    +appearance(none)
    +box-sizing(border-box)
    +transition(border-color)
    background-color: white
    border-radius: $base-border-radius
    
    border: 1px solid $base-border-color
    display: block
    font-size: .6em
    font-style: italic
    margin: 0
    padding: ($base-spacing / 4) ($base-spacing / 4)
    
    position: relative
    width: 100%
  

  button[type=submit] 
    @include button(flat, $action-color)
    @include position(absolute, 0em 0em 0em null)
    border-bottom-left-radius: 0
    border-top-left-radius: 0
    outline: none
    padding: 5px 10px
    height: 20px
    img 
      height: 18px
      opacity: 0.7
    
  

#flash_notice
  background: red
  

.minimenu
  margin-left: -20px
  padding: 0px
  font-size: .9em
  
  
.minimenur
  margin-left: -20px
  padding: 0px
  font-size: .8em
  
  
#letter_city
  width: 60%  
  
#letter_zip  
  width: 40%
  
#lettersht
  display: inline-block  
  
#letter_inst
  margin-top: 20px  
  