// Place all the styles related to the Lookups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lookup_wrapper
  +outer-container
  padding-top: 30px
  

pre
  display: block
  font-family: monospace
  white-space: pre-line
  margin: 0

#lookup_form
  +span-columns(3)
  
#lookup_results
  +span-columns(3)
  
#lookup_results2
  +span-columns(3)
  
#lookup_aside
  +span-columns(3)
  
#headshot, #headshot2
  width: 150px
  height: 200px
  
#lookup_button
  width: 100%